<div class="row">
    {{#if product}}
        <div class="col-md-6 mb-3 mx-auto">
            <div class="card">
                <img src="{{product.img_path}}" class="card-img-top img-fluid w-75 h-75 mx-auto" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <h5 class="card-text"><strong>{{product.price}}$</strong></h5>
                    <p class="card-text"><small class="text-muted">{{timeago product.created_at}}</small></p>
                </div>
                <div class="card-footer">
                    <form id="payment-form">
                        <div id="card-element">
                            <!--Stripe.js injects the Card Element-->
                        </div>
                        <button id="submit">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pay now</span>
                        </button>
                        <p id="card-error" role="alert"></p>
                        <p class="result-message hidden">
                            Payment succeeded, see the result in your
                            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                        </p>
                    </form>
                    <!--
                    <button class="btn btn-dark btn-block" id="checkout-button">
                        Buy <i class="fas fa-shopping-cart"></i>
                    </button>
-->
                </div>
            </div>
        </div>
    {{/if}}
</div>
